# this is the requirements dedicated to tests for daemons run.

# Use psutil
psutil

# Alignak backend (develop branch)
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend.git@develop#egg=alignak-backend

# Alignak backend module (develop branch)
-e git+git://github.com/Alignak-monitoring-contrib/alignak-module-backend.git@develop#egg=alignak-module-backend

# Alignak WS module (develop branch)
-e git+git://github.com/Alignak-monitoring-contrib/alignak-module-ws.git@develop#egg=alignak-module-ws

# Alignak logs module (develop branch)
-e git+git://github.com/Alignak-monitoring-contrib/alignak-module-logs.git@develop#egg=alignak-module-logs
