[report]
;fail_under = 100
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if debug:
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[run]
;branch = True
source =
    alignak

omit =
    */mock/*
    */nose/*
