# this is the requirements dedicated to tests.
-r ../requirements.txt
unittest2
mock
coveralls
nose-cov
coverage
nose
pylint
pep8
pep257
freezegun
alignak_setup
-e git+https://github.com/Alignak-monitoring/alignak-module-example.git#egg=alignak-module-example
ordereddict==1.1
requests_mock
