# this is the requirements dedicated to tests.
-r ../requirements.txt
unittest2
mock

# Use py.test as test-runner
pytest<3.3.0; python_version < '2.7'
pytest; python_version >= '2.7'
pytest-cov

# Let coverage use the most recent version
coverage==4.3.4

# Report coverage results to coveralls.io
coveralls

# Static code analysis libraries
pylint
pycodestyle
pep257

# Tests time freeze
freezegun

# Alignak example module (develop branch)
-e git+git://github.com/Alignak-monitoring/alignak-module-example.git@develop#egg=alignak-module-example
ordereddict==1.1
requests_mock
