# some packages need to be kept as specific version for

# actually don't link with "normal" one as pip otherwise report conflicting package versions.
# -r ./requirements.txt

# for pylint to succeed with Python2.6 , we actually need all these specific versions:
# pylint
# astroid
# six
# unittest2

# endfor pytlint

