include README.rst
include CONTRIBUTING.rst
include AUTHORS
include LICENSE
include requirements.txt
recursive-include etc *.*
recursive-include bin *.*
recursive-include contrib *.*
recursive-include alignak *.*
global-exclude *.pyc
global-exclude *.log
