# Still needing future for the CarbonIFace lib and some other stuff (queues, ...)
# Needing six for python 2.7/3 compatibility
future
six

# Alignak supports the most recent CherryPy
CherryPy

# Requests to communicate between the daemons
requests

# importlib is used to import modules used by the daemons
importlib; python_version == '2.7'

# Colored console log
termcolor

# Set process titles
setproctitle

# ujson is used for the internal objects serialization
ujson

# numpy for date and percentile computation - needs a compiler on the installation target system!
# Comment to use an internal implementation of percentile function
numpy

# SSL between the daemons
# This requirement is only a requirement if you intend to use SLL for the inter-daemons
# communication. As such, to avoid installing this library per default, commenting this line!
# Uncomment or `pip install pyopenssl` if SSL must be used between the Alignak daemons
# pyopenssl

# docopt is used by the alignak_environment script
docopt

# Use psutil for daemons memory monitoring (env ALIGNAK_DAEMONS_MONITORING)
# Use psutil for scheduler ALIGNAK_LOG_MONITORING
# Use psutil for launching daemons from the Arbiter
psutil
