# this is the requirements dedicated to tests.
# Get project requirements
-r ../requirements.txt

# Influx DB client for inner metrics module
influxdb

# then tests specific requirements:
unittest2
mock<2.0.0; python_version >= '2.7'
requests_mock
ordereddict; python_version < '2.7'

# Use py.test as test-runner
astroid<2.2.0
pytest<3.3.0; python_version < '2.7'
pytest; python_version >= '2.7'
pytest-cov

# Let coverage use the most recent version
coverage

# Report coverage results to codecov.io
codecov

# Report coverage results to coveralls.io
coveralls

# Static code analysis libraries
# Not yet compatible with most recent 2.2 version
pylint<2.2
pycodestyle
pep257

# Tests time freeze
freezegun

# Alignak example module (develop branch)
-e git+git://github.com/Alignak-monitoring/alignak-module-example.git@python3#egg=alignak-module-example
