define host{
    use                     test-host
    contact_groups          admins
    host_name               host-0
    address                 127.0.0.1
}

define host{
    use                     test-host
    contact_groups          admins
    host_name               host-1
    address                 127.0.0.1
}

