# This is a sample host for a standard linux-based system host
define host{
   use            linux,generic-host
   host_name      srv-linux
   address			srv-linux.mydomain.com

   # The check will need a valid snmp community. You can configure it
   # in the file etc/resources.cfg

   # If you need specific credentials for this host, uncomment it
   #_SNMPCOMMUNITY	       linux-community
}
