## Notify Service by Email
define command {
    command_name    notify-service-by-log
    command_line    /usr/bin/printf "%b" "\n-----\n$DATE$ $TIME$ - Alignak notification #$NOTIFICATIONNUMBER$:\n Type:$NOTIFICATIONTYPE$\n Host: $HOSTNAME$ ($HOSTADDRESS$)\n Service: $SERVICEDESC$\n State: $SERVICESTATE$\n Info: $SERVICEOUTPUT$\n" >> /tmp/alignak-notifications.log
}

