# This is a default administrator
# CHANGE ITS PASSWORD or remove it

define contact{
    use                 generic-contact
    contact_name        admin
    alias               Administrator
    email               alignak@localhost
    pager               0600000000
    # Only useful for the UI...
    password            admin
    is_admin            1
    can_submit_commands 1   ; Implicit because it is an admin
}

