## Module:      logs
## Loaded by:   Broker
# Collect monitoring logs emitted by Alignak to send them to a Python logger
define module {
    module_alias            logs
    module_types            logs
    python_name             alignak_module_logs

    # Alignak Backend endpoint URL
    # ---
    # alignak_backend         http://127.0.0.1:5000

    # Backend authentication:
    # ---
    # [Method 1 - most secure] Using a token:
    # Get a user token from the backend:
    # $ curl -H "Content-Type: application/json" -X POST -d '{"username":"admin","password":"admin"}' http://127.0.0.1:5000/login
    # Copy the returned token here and uncomment this variable:
    # token                 1489061891524-fe945d09-a0dd-4174-b665-6ca1306539cd

    # [Method 2] Use login (username/password)
    # Set your backend username and password here and uncomment those variables
    # username              admin
    # password              admin

    # On login, force a new token generation
    # allowgeneratetoken    false

    # Alignak backend polling period
    # Periodically check that the Alignak backend connection is available
    #alignak_backend_polling_period 60


    # Logger configuration file
    # ---
    # You should define the logger JSON configuration file here or, even better, declare an
    # environment variable 'ALIGNAK_MONITORING_LOGS_CFG' to specify the full path of the
    # logger configuration file.
    # The environment variable will be used in priority to any other configuration in this file
    #logger_configuration    /usr/local/etc/alignak/arbiter/modules/mod-logs-logger.json
    #
    # The 'monitoring_logs' handler in the configuration file will be used for the monitoring
    # logs. Define the file name and the file rotation variables to make it suit your needs.
    # The monitoring-logs logger will use this handler.
    #
    # The root logger is configured for the module logs and you can also adapt its configuration

    # Default parameters
    # ---
    # If the logger configuration file is not configured or it does not exist the logger is
    # configured with the following default parameters
    # Logger name
    #log_logger_name         monitoring-logs

    # Logger file
    #log_dir                 /usr/local/var/log/alignak
    #for tests:
    log_dir                 /tmp
    #log_file                monitoring-logs.log

    # Logger file rotation parameters
    #log_rotation_when       midnight
    #log_rotation_interval   1
    #log_rotation_count      365

    # Logger level (accepted log level values=INFO,WARNING,ERROR)
    #log_level               INFO

    # Logger log format
    #log_format              [%(created)i] %(levelname)s: %(message)s

    # Logger date is ISO8601 with timezone
    #log_date                %Y-%m-%d %H:%M:%S %Z
}
